
.sign-in-form{
    border: 1px solid rgb(120, 117, 117);
    padding: 50px 50px;
    margin: auto ;
    margin-top:20px;
    background: #f6f9fc;
    width: 750px;
    position:static;
   
}

.container{
    margin:   auto 46%;
}

    
.h3{
text-align: center;
}
.input{
    width: 635px;
    
}

.text-theme {
    color: #5369f8 !important;
}

