<div class="signup-form">
    <form action="/examples/actions/confirmation.php" method="post">
		<h2>Forgot Password</h2>
	
		<hr>
        
        <div class="form-group">
        	<input type="email" class="form-control" name="email" placeholder="Email" required="required">
        </div>
		<div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" required="required">
        </div>
		<div class="form-group">
            <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required="required">
        </div>        
        
		<div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg" routerLink="/signin">Sign In</button>
        </div>
    </form>
</div>
